/.idea/
jobs-scraper.iml

/puppeteer/scraper/job-posts.json
/puppeteer/scraper/package-lock.json
/puppeteer/web/package-lock.json

/playwright/job-posts.json
/playwright/package-lock.json

/selenium/job-posts.json
/selenium/package-lock.json
