/.idea/
jobs-scraper.iml

/puppeteer/scraper/job_posts.json
/puppeteer/scraper/package-lock.json
/puppeteer/web/package-lock.json
/puppeteer/web/job-params.json

/playwright/job_posts.json
/playwright/package-lock.json

/selenium/job_posts.json
/selenium/package-lock.json
